<ul class="nav-meta">
  <li class="nav-search">
    <a title="{{t "Search"}}" data-ghost-search>
      <i class="icon icon-search" aria-hidden="true"></i>
      <span>{{t "Search"}}</span>
    </a>
  </li>
</ul>
